* {
  margin: 0 auto;
  padding: 0;
}

body,
html {
  background-image: linear-gradient(to right, rgb(107, 110, 110), rgb(143, 137, 137), rgb(255, 255, 255));
  height: 100%;

}

.navBarContainer {
  border: solid rgba(0, 0, 0, 0.24) 1px;
  display: flex;
  justify-content: space-between;
  background-color: #2e2e2e6e;
  color: rgb(0, 0, 0);
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding-top: 10px;
}

.bookCardContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  height: 90%;
  position: relative;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;

}

.bookContainer {
  border: 1px solid black;
  position: relative;
  font-size: clamp(20%, 5rem);
  min-width: 20%;
  min-height: 45%;
  max-width: 20%;
  max-height: 45%;
  display: flex;
  flex-direction: column;
  gap: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 9px 3px black;
  flex-wrap: wrap;
}

.bookh1 {
  grid-area: 1/3/10/10;
  font-size: 1.5rem;
  max-height: 30%;
  padding-bottom: 14%;
}


form {
  display: hidden;
}



.form-popup {
  display: none;
  position: static;
  border: 1px solid black;
  height: 30%;
  width: 15%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: aliceblue;
}


.titleDiv1 {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.titleDiv2 {
  display: flex;
  gap: 10px;
  padding-bottom: 5%;
}

.titleDiv3 {
  display: flex;
  gap: 10px;
  padding-bottom: 5%;
}




.form-h1 {
  font-size: 100%;
}

.close {
  font-size: 13px;
  width: 20px;
  height: 20px;
  color: #FF0000;
  background-color: rgb(248, 248, 248) !important;
  border: .5px solid black;
  border-radius: 5px;
  text-align: center;
}

.close:hover {
  background-color: #7c7b7b3a !important;
}

.bookp1 {
  grid-area: 4/1/4/10;
  text-align: center;
  font-size: 100%;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding-bottom: 14%;
}

.bookp2 {
  grid-area: 5/1/5/10;
  text-align: center;
  flex-wrap: wrap;
  font-size: large;
  padding-bottom: 14%;
}

.inputPages {
  height: 16px;
  width: 50%
}