* {
  margin: 0 auto;
  padding: 0;
}

body,
html {
  background-image: linear-gradient(to right, lightBlue, white, lightBlue);
  height: 100%;

}

.navBarContainer {
  border: solid rgba(0, 0, 0, 0.24) 1px;
  display: flex;
  justify-content: space-between;
  background-color: #2e2e2e6e;
  color: rgb(0, 0, 0);
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding-top: 10px;
}

.bookCardContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: last baseline;
  height: 90%;
  position: relative;
  width: 90%;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px auto;
}

.bookContainer {
  max-height: 45%;
  border: 1px solid black;
  max-width: 10%;
  position: relative;
  font-size: clamp(20%, 5rem);
  min-width: 20%;
  min-height: 10%;
}

form {
  display: hidden;
}



.form-popup {
  display: none;
  position: static;
  border: 1px solid black;
  height: 30%;
  width: 15%;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}


.titleDiv1 {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.titleDiv2 {
  display: flex;
  gap: 10px;
  padding-bottom: 35%
}

.buttonDiv {}

.form-h1 {
  font-size: 1.5rem;
}